VITE_SUPABASE_URL=https://sjfkzxrwiugecypmogxf.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNqZmt6eHJ3aXVnZWN5cG1vZ3hmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyMTU3MzgsImV4cCI6MjA5Nzc5MTczOH0.q4aF4wno1c49S3YzVMh3oM3NfC_oV2Nuuc2SjD2_5H4
